footer {
    background-color: var(--hero-navbar-bg);
  }
  
  .footer-container {
    padding: 0 15px;
    max-width: 75rem;
    margin: auto;
  }
  
  .upper-footer {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
  }
  
  .upper-footer-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    order: 2;
  }
  
  .upper-footer-middle {
    order: 1;
    margin-bottom: 15px;
  }

  .upper-footer-middle img {
    cursor: pointer;
  }
  
  .upper-footer-left p {
    max-width: 300px;
  }
  
  .upper-footer-left .button {
    width: fit-content;
  }
  
  .lower-footer {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top: 1px solid var(--light-text);
  }
  
  .lower-footer-left {
    order: 2;
  }
  
  .upper-footer p,
  .lower-footer-left p {
    font-size: 16px;
    color: var(--light-text);
    margin-bottom: 0;
    font-weight: 400;
  }
  
  .lower-footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .upper-footer-right {
    margin-top: 15px;
    order: 3;
  }
  
  .upper-footer-right nav {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  .upper-footer-right nav p {
    font-size: 16px;
    font-weight: 500;
  }
  
  .upper-footer-right nav ul {
    padding-left: 0;
  }
  
  .upper-footer-right nav ul li {
    display: flex;
    font-size: 16px;
    color: var(--light-text);
    margin-bottom: 0;
    gap: 12px;
  }
  
  @media screen and (min-width: 768px) {
    .lower-footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0;
      padding: 30px 20px;
    }
  
    .lower-footer-right {
      order: 1;
    }
  
    .lower-footer-right {
      order: 2;
    }
  
    .upper-footer {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .upper-footer-left {
      order: 1;
      width: 33.3%;
    }
  
    .upper-footer-middle {
      display: flex;
      justify-content: center;
      order: 2;
      width: 33.3%;
    }
  
    .upper-footer-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 33.3%;
    }
  
    .upper-footer-right nav {
      width: 100px;
      display: block;
    }
  
    .upper-footer-right nav p {
      padding-bottom: 7px;
      font-size: 18px;
    }
  
    .upper-footer-right nav ul {
      padding-left: 20px;
    }
  
    .upper-footer-right nav ul li {
      flex-direction: column;
      gap: 10px;
    }
  
    .upper-footer-right nav ul li a {
      cursor: pointer;
      transition: .3s;
    }
  
    .upper-footer-right nav ul li a:hover {
      color: var(--secondary-accent-color);
      transition: .3s;
    }
  }