@use './variables' as *;

footer {
  background-color: $hero-navbar-bg;
}

.footer-container {
  padding: 0 15px;
  max-width: 75rem;
  margin: auto;
}

.upper-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;

  &-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    order: 2;

    p {
      max-width: 300px;
    }

    .button {
      width: fit-content;
    }
  }

  &-middle {
    order: 1;
    margin: 0 auto 15px auto;

    img {
      cursor: pointer;
    }
  }

  &-right {
    margin-top: 15px;
    order: 3;
    width: 300px;

    nav {
      display: flex;
      gap: 12px;

      p {
        font-size: 16px;
        font-weight: 500;
      }

      ul {
        padding-left: 0;

        li {
          display: flex;
          font-size: 16px;
          color: $light-text;
          margin-bottom: 0;
          gap: 12px;
        }
      }
    }
  }

  p {
    font-size: 16px;
    color: $light-text;
    margin-bottom: 0;
    font-weight: 400;
  }
}

.lower-footer {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 1px solid $light-text;

  &-left {
    order: 2;

    a,
    &:hover {
      transition: 0.3s;
    }

    &:hover {
      color: $secondary-accent-color;
    }

    p {
      font-size: 16px;
      color: $light-text;
      margin-bottom: 0;
      font-weight: 400;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .lower-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    padding: 30px 20px;

    &-right {
      order: 2;
    }
  }

  .upper-footer {
    flex-direction: row;
    justify-content: center;

    &-left {
      order: 1;
      width: 33.3%;
    }

    &-middle {
      display: flex;
      justify-content: center;
      order: 2;
      width: 33.3%;
      margin: 0;
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 33.3%;

      nav {
        width: 100px;
        display: block;

        p {
          padding-bottom: 7px;
          font-size: 18px;
        }

        ul {
          padding-left: 20px;

          li {
            flex-direction: column;
            gap: 10px;

            a {
              cursor: pointer;
              transition: 0.3s;

              &:hover {
                color: $secondary-accent-color;
                transition: 0.3s;
              }
            }
          }
        }
      }
    }
  }
}
