.projects-flex-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.08);
  position: relative;
  max-width: 340px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.hover-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.overlay-text {
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 1;
  padding: 0 20px;
}

.overlay-text h3 {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;
}

.overlay-text p {
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.projects-text-container p {
  margin-bottom: 18px;
}

.projects-text-container a {
  color: var(--secondary-accent-color);
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(to bottom, var(--secondary-accent-color) 0%, var(--secondary-accent-color) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  transition: .3s;
}

@media screen and (min-width: 768px) {
  .projects-content {
    display: flex;
    gap: 30px; /* Added to align with larger screens adjustments */
  }

  .projects-text-container {
    width: 33.33%;
  }

  .projects-flex-container {
    width: 66.66%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project {
    width: 45%;
  }
}

@media screen and (min-width: 1000px) {
  .overlay-text {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .project:hover .overlay-text {
    opacity: 1;
  }
}
