.projects-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.project {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.08);
  position: relative;
  width: 100%;
  max-width: 340px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.hover-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.overlay-text {
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 1;
  padding: 0 20px;
}

.overlay-text h3 {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 0;
  text-align: center;
}

.overlay-text p {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.projects-text-container p {
  margin-bottom: 18px;
}

.projects-text-container a,
.projects-text-container a:hover {
  transition: 0.3s;
}

.projects-page-link-container {
  width: fit-content;
}

.projects-page-link-container a {
  color: var(--secondary-accent-color);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none; /* Remove default underline */
  background-image: linear-gradient(
    to bottom,
    var(--secondary-accent-color) 0%,
    var(--secondary-accent-color) 100%
  );
  background-position: 0 100%; /* Keep the gradient at the bottom */
  background-repeat: repeat-x;
  background-size: 100% 2px; /* Ensure the gradient is only 2px high */
  transition: color 0.05s, background-image 0.3s ease;
}

.projects-page-link-container a:hover {
  color: var(--accent-color); /* Change text color */
  transition: color 0.05s, background-image 0.3s ease;
  background-image: linear-gradient(
    to bottom,
    var(--accent-color) 0%,
    var(--accent-color) 100%
  ); /* Change gradient color */
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}



// @media screen and (min-width: 768px) and (max-width: 902px) {
//   .project:last-of-type .overlay-text p {
//       max-height: 110px;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       position: relative;
//   }
// }

@media screen and (min-width: 768px) {
  .projects-content {
    display: flex;
    gap: 0;
    justify-content: space-between;
  }

  .projects-text-container {
    width: 35%;
  }

  .projects-flex-container {
    width: 64%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
  }

  .project {
    width: 45%;
  }
}

@media screen and (min-width: 1025px) {
  .overlay-text {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .project:hover .overlay-text {
    opacity: 1;
  }
}
